body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  padding: 10px 0px 10px 0px;
  background-color: rgb(89, 153, 236);
}

h1 {
  color: white;
  font-size: 35px;
  text-align: center;
}

h4 {
  color: white;
  font-size: 20px;
  text-align: left;
}

.container {
  max-width: 100%;
}

.card-search {
  height: 46vw;
}

#current-weather {
  margin-top: 1vw;
}

.card-current {
  margin-top: 1vw;
  color: white;
  background-color: rgb(89, 153, 236);
}

#search {
  margin-top: 10px;

}


#city-temp {

  margin: 10px 0px 10px 0px;

}

#forecast {

  margin: 10px 0px 10px 13px;

}

.card-day {
  max-width: 15.5vw;
  font-size: 10px;
  color: white;
  background-color: rgb(89, 153, 236);
}

.date {
  font-weight: bold;
  font-size: 15px;
}

.btn {
  text-align: center;
  padding: 0.5rem 1.2rem;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: none;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn.btn-block {
  width: 100%;
  text-align: center;
}

.btn.btn-info {
  background-color: rgb(89, 153, 236);  
  color: #ffffff;
}

.btn.btn-info:hover {
  background-color: #79e4ff;
}

form .form-input {
  max-width: 100%;
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 570px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 760px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 990px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1190px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1390px;
  }
}

/* * {
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: block;
    padding: 25px 0px 25px 0px;
    background-color: rgb(89, 153, 236);
}

h1 {
    color: white;
    font-size: 40px;
    text-align: center;
}

h4 {
    color: white;
    font-size: 23px;
    text-align: left;
}

main {

    background-color: white;
}

#search {
    margin: 10px;
    padding: 10px;

}

#city-temp {

    padding: 10px;

}

#forecast {

    padding: 10px;

}

.btn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
  
  .btn.btn-block {
    width: 100%;
    display: block;
    text-align: center;
  }
  
  .btn.btn-info {
    background-color: rgb(89, 153, 236);  
    color: #ffffff;
  }
  
  .btn.btn-info:hover {
    background-color: #79e4ff;
  }

  form {
    width: 100%;
  }
  
  form .form-input,
  form .form-textarea {
    display: block;
  }
  
  form .form-input {
    max-width: 100%;
    flex-shrink: 0 0 0;
    padding: 0.75rem;
    color: #1a1a1a;
    background-color: #ffffff;
    margin: 0.625rem 0;
    font-size: 1.2rem;
    border: 1px solid #484848;
    border-radius: 0.3rem;
  }

.card {

    margin-bottom: 1rem;
}

  
.card .card-header {
    padding: 0.375rem;
    background-color: rgb(89, 153, 236);
    color: white;
    text-align: center;
    width: fit-content;
}
  
.card .card-body {
    padding: 0.375rem;
}
  
.card .card-footer {
    border-top: 1px solid #1a1a1a;
    padding: 0.375rem;
}
  
.card.card-rounded {
    border-color: #2d3e50;
    border-width: 5px;
    border-radius: 5px;
}
  
.card.card-rounded .card-header {
    border-radius: 5px;
}
  
footer {
    padding: 20px 0px 20px 0px;

} */